{
  "arrowParens": "always",
  "overrides": [
    {
      "files": "custom_components/robot_vacuum_map/manifest.json",
      "options": { "parser": "json-stringify" }
    }
  ],
  "proseWrap": "always",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all"
}
